<footer class="bg-dark text-light text-center py-4">
    <div class="container">
        <p>@Model.Content["CompanyName"]</p>
        <p>@Model.Content["PromoterName"]</p>
        <p>@Model.Content["Address"]</p>
        <p>Email: <a href="mailto:contact@figounuts.com" class="text-light">@Model.Content["Email"]</a></p>
        <p>Phone: <a href="tel:+066688113300" class="text-light">@Model.Content["PhoneNumber"]</a></p>
    </div>
</footer>
